<!DOCTYPE html>
<html lang="pt-BR" class="h-full">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
</head>

<body class="h-full flex flex-col bg-gradient-to-br from-blue-100 to-purple-100">

  <main class="flex-1 overflow-y-auto p-3">
    {% block content %}
    {% endblock %}
  </main>

</body>

</html>